{% extends 'gitboard/base.html' %}
{% load static %}
{% load socialaccount %}


{% block title %}GitBoard{% endblock title %}


{% block content %}
   
<div class="container-md mt-2">
  {{cached}}
  {{last_page}}
  {% if request.user.is_authenticated %}
  <main>
      {% include 'gitboard/dashboard.html' with navigation=navigation repos_url=repos_url repo_list=repo_list num_of_pages=num_of_pages links=links %}
  </main>
  {% else %}
  <div class="d-flex flex-column justify-content-center">
    <img src="{% static 'images/welcome.png' %}" alt="">
    <p class="text-center">Please login to GitHub to see your stats</p>
    <a class="btn btn-primary mx-auto" href="{% provider_login_url "github" method="oauth2"  %}">Login</a>
  </div>
  {% endif %}
</div>

{% endblock content %}

{% block js %}
<script>
  function closeModal() {
    var container = document.getElementById("modals-here")
    var backdrop = document.getElementById("modal-backdrop")
    var modal = document.getElementById("modal")
  
    modal.classList.remove("show")
    backdrop.classList.remove("show")
  
    setTimeout(function() {
      container.removeChild(backdrop)
      container.removeChild(modal)
    }, 200)
  }
  
</script>
{% endblock js %}